/* 容器样式 */
.dropdown {
  position: relative;
  display: inline-block;
}

/* 下拉菜单初始为不可见 */
.dropdown-content {
  position: fixed;
  right: 10px;
  top: 80px;
  background-color: rgb(255, 255, 255);
  padding: 10px 0px;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
  border-radius: 10px;
}

.user-card {
  display: flex;
  margin: 0px 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(141, 141, 141, 0.2);
  background-color: white;
}

/* 当鼠标悬停时显示下拉菜单 */
.dropdown:hover .dropdown-content {
  display: block;
}

/* 下拉菜单项样式 */
.dropdown-content a {
  color: black;
  padding: 10px;
  margin: 0px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}