.button-row {
  display: flex;
  justify-content: space-around;
}

.custom-button {
  width: 34%;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  border: none;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 3px 3px rgba(212, 212, 212, 0.2);
}

.custom-button:hover {
  background-color: #f0f0f0;
}

.mainpage {
  margin-top: 50px;
}

/* https://www.tpisoftware.com/tpu/articleDetails/2604 */
.waterfall-effect {
  max-width: 100%;
  margin: 0 auto;
  column-count: 3;
  column-gap: 10px;
}
.waterfall-effect .item {
  padding: 5px;
  box-sizing: border-box;
  margin: 0 auto 5px;
  break-inside: avoid;
}
.waterfall-effect img {
  max-width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

/* 499 */
@media (max-width: 768px) {
  .mainpage {
    margin-top: 0;
  }
}
@media (max-width: 499px) {
  .waterfall-effect {
    column-count: 1;
  }
}
