@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* * {
<<<<<<< HEAD
  font-family: 'Poppins', sans-serif;
=======
  font-family: "Poppins", sans-serif;
>>>>>>> d056fd8cfc9fb1beea8550bb98b0bfeb65792fcd
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* body {
  background: #F9F7C9;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.App {
  text-align: center;
}

h1 {
  color: #0e0d0d;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.PreWrapper {
  background: #80bcbd;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.PreForm {
  width: 100%;
  margin-bottom: 1rem;
}

.pre-input {
  outline: none;
  background: rgb(184, 151, 151);
  border: 1px solid #80bcbd;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #262525;
}

.pre-input::placeholder {
  color: #ffffff4d;
}

.pre-btn {
  background: #d5f0c1;
  color: #5b5555;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Pre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d5f0c1;
  color: #4a4747;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #877d7d;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
.TravelButton {
  margin-top: 1rem;
  background: #d5f0c1;
  color: #5b5555;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}
