body {
    overflow-x: hidden; /* 隱藏水平滾動條 */
}
a{
    text-decoration: none;
    cursor: pointer;
}
.color1 {
    color: #80BCBD;
}
.color2 {
    color: #AAD9BB;
}
.color3 {
    color: #D5F0C1;
}
.color4 {
    color: #F9F7C9;
}
.supportColor{
    color: #939393;
}
.bg-color1 {
    background-color: #80BCBD;
}
.bg-color2 {
    background-color: #AAD9BB;
}
.bg-color3 {
    background-color: #D5F0C1;
}
.bg-color4 {
    background-color: #F9F7C9;
}
.text1{
    font-size: 48px;
}
.text2{
    font-size: 32px;
}
.text3{
    font-size: 24px;
}
.text4{
    font-size: 20px;
}
.text5{
    font-size: 18px;
}
/* input[type="file"] {
    display: none;
} */
.uploadStyle {
    background-image: url('../../public/UserListSource/Mylist.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
}

.searchThings{
    background-color: white;
}
.searchThings:hover{
    background-color: #F8F8F8;
}